= form_for(@user) do |f|
  .field
    = f.label :email, class: "block text-gray-500 font-bold mt-2"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-0 block w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
  .field
    = f.label :username, class: "block text-gray-500 font-bold mt-2"
    %br/
    = f.text_field :username, class: "mt-0 block w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
  .field
    = f.label :first_name, class: "block text-gray-500 font-bold mt-2"
    %br/
    = f.text_field :first_name, class: "mt-0 block w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
  .field
    = f.label :last_name, class: "block text-gray-500 font-bold mt-2"
    %br/
    = f.text_field :last_name, class: "mt-0 block w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
  .field
    = f.label :password, class: "block text-gray-500 font-bold mt-2"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password", class: "mt-0 block w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
  .field
    = f.label :password_confirmation, class: "block text-gray-500 font-bold mt-2"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-0 block w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
  .actions
    = f.submit "Save", class: "flex w-full mt-8 justify-center rounded-md bg-indigo-600 px-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 py-1.5"
