.text-gray-900.text-center
  %h1.mt-10.text-center.text-3xl.font-bold.leading-9.tracking-tight.text-gray-900
    Listing users
  .flex.justify-center.mt-10
    %table.text-md.bg-white.shadow-md.rounded.mb-4
      %tbody.bg-gray-200
        %tr.border-b
          %th.text-left.p-3.px-5.text-center Avatar
          %th.text-left.p-3.px-5.text-center Username
          %th.text-left.p-3.px-5.text-center Email
          %th.text-left.p-3.px-5.text-center First Name
          %th.text-left.p-3.px-5.text-center Last Name
          - if current_user_admin?
            %th.text-left.p-3.px-5.text-center Role
          - if current_user_admin?
            %th.text-left.p-3.px-5.text-center Team
          %th.text-left.p-3.px-5
          - if current_user_admin?
            %th.text-left.p-3.px-5
          %th
        - @users.each do |user|
          %tr.border-b.hover:bg-orange-100.bg-gray-100
            %td.border.px-8.py-4
              %div.flex-shrink-0.w-10.h-10
                -if user.avatar.attached?
                  =image_tag(user.avatar, class: "w-full h-full rounded-full")
                -else
                  =image_tag("default-avatar.png", class: "w-full h-full rounded-full")
            %td.border.px-8.py-4= user.username
            %td.border.px-8.py-4= user.email
            %td.border.px-8.py-4= user.first_name
            %td.border.px-8.py-4= user.last_name
            - if current_user_admin?
              %td.border.px-8.py-4
                - user.teams.each do |team|
                  = team.name + " Team roles:"
                  -team.users.each do |user|
                    = user
                - Role.where(:id == UserRole.where(:user_id == user.id).collect {|x| x.role_id}.first).each do |role|
                  %div= role.name
            - if current_user_admin?
              %td.border.px-8.py-4
                - Team.where(:id == UserTeam.where(:user_id == user.id).collect {|x| x.team_id}.first).each do |team|
                  %div= team.name
            - if current_user == user || current_user_admin?
              %td.border.px-8.py-4
                = link_to '<button type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit</button>'.html_safe, edit_user_path(user)
            - if current_user_admin?
              %td.border.px-8.py-4
                = link_to '<button type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-4 rounded focus:outline-none focus:shadow-outline">Delete</button>'.html_safe , user_path(user), :confirm => 'Are you sure?', data: { "turbo-method": :delete }
.text-gray-900.text-center
  %br/
  = link_to '<button type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">New user</button>'.html_safe, new_user_path
  %br/
  = link_to '<button type="button" class="text-center mt-5 mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">Dashboard</button>'.html_safe, root_path